@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$bg-color: #FAFAFA;

$border-color: #E6E6E6;

$button-color: #3897F0;

$gray-line-color: #999999;

body {
  background-color: $bg-color;
}

p, input[type=text], input[type=password], input[type=email], a, .alert, div {
  font-size: 15px;
}

pre {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,
               "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 16px !important;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

input {
  margin: 0;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: #000 !important;
}

ul li {
  list-style-type: none;
}

.flash-alert {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.alert {
  z-index: -1;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-left-right {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-right-16 {
  padding-right: 16px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center-flexend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-center-flexstart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

abbr[title] {
  display: none;
}

input[type=submit] {
  margin-top: 12px;
  width: 80%;
  height: 30px;
  background-color: $button-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  height: 51px;
  border: 1px solid $border-color;
  overflow: auto;
  font-size: 16px !important;
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100% !important;
  }
}

/* main css */

.main-container {
  margin-top: 20px;
}

/* header */

header {
  width: 100%;
  z-index: 2;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid $border-color;
  transition: 0.4s;
  max-height: 76px;

  .left-header {

    .ins-icon img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    .header-line {
      background-color: #000;
      width: 1px;
      height: 30px;
      margin-right: 10px;
    }

    .ins-logo img {
      height: 40px;
    }
  }

  .right-header {

    img {
      width: 25px;
      height: 25px;
    }

    &:hover {
      cursor: pointer;
    }

    .btn-sign-in {
      background-color: #38A7F6;
      border-radius: 2px;
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 30px;

      a {
      color: #fff;
      font-weight: 700;
      font-style: normal;
      }
    }

    .btn-sign-up {
      height: 30px;
      a {
      color: #38A7F6;
      font-weight: 700;
      font-style: normal;
      }
    }
  }
}

.banner-wrap {
  width: 100%;
  font-style: italic;
  font-size: 22px;
}

.search-bar-wrap {

  #search-results {
    position: absolute;
    top: 100%;
    z-index: 100000;
    background-color: #fff;
    max-height: 200px;
    min-width: 250px;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    .micropost-user-avatar {
      margin: 5px;
      white-space: nowrap;

      a {
        font-size: 13px;
        font-style: normal;
        margin-left: 5px;
        img {
          margin-right: 5px;
        }
      }
    }
  }
}

.close-btn {
  width: 15px;
  height: 15px;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.scroll-header {
  padding-top: 13px;
  padding-bottom: 13px;
  transition: 0.4s;
  z-index: 2;
  max-height: 56px;
}

/* form for login, signup */

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.form-wrap, .main-form {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-top: 12px;
}

.main-form {
  margin-bottom: 50px;
}

.form-wrap {
  max-width: 350px;
  width: 100%;
}

.logo {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  img {
    width: 50%;
  }

  p {
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 700;
    font-size: 17px;
    color: $gray-line-color;
    text-align: center;
  }
}

.field-wrap {
  margin-top: 30px;
}

.field {
  width: 100%;
  display: flex;
  justify-content: center;

  input[type=email], input[type=password], input[type=text] {
    width: 80%;
    margin-top: 5px !important;
    height: 35px;
    border: 1px solid $border-color;
    background-color: $bg-color;
    border-radius: 2px;
  }

  .field_with_errors {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px $bg-color;
  color: $border-color !important;
}

.gray-line-wrap {
  display: flex;
  justify-content: center;
  margin: 15px 10%;

  .gray-line {
    width: 100%;
    background-color: $border-color;
    height: 1px;
    position: relative;
    margin-top: 10px;
  }

  .gray-text, .gray-policy {
    color: $gray-line-color;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
  }

  .gray-policy {
    padding: 0 10%;
  }
}

.forgot-pw-link {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    margin-top: 10px;
    font-size: 12px !important;
    color: #073B72 !important;
  }
}

.signup-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  p {
    margin: 0;
  }

  a {
    color: #38A7F6;
    font-weight: 700;
    &:hover {
      color: #38A7F6 !important;
    }
  }
}

@media only screen and (max-width: 576px) {
  .form-wrap {
    max-width: 100%;
    width: 100%;
  }
}

/* forget password */

.lock-icon {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  img {
    border-radius: 50%;
    border: 3px solid #000;
    padding: 20px;
    max-width: 100px;
    max-height: 100px;
  }

  b {
    font-size: 18px;
    margin-top: 10px;
  }

  p {
    color: $gray-line-color;
    margin: 10px 10%;
    text-align: center;
  }
}

.create-acc-link {
  text-align: center;

  a {
    font-weight: 700;
    color: #000;
  }
}

.back-to-login {
  width: 100%;
  height: 44px;
  margin-bottom: 0;
  margin-top: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  background-color: $bg-color;

  a {
    color: #000;
    font-weight: 700;
  }
}

/* error */

#error_explanation {
  width: 100%;
  margin-top: 10px;
  margin-left: 10%;
  color: red;
}

/* edit user's profile */

.edit-form-wrap {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 2px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

#edit-left-menu {
  padding: 0;

  .edit-tab {
    height: 60px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $bg-color;
      border-left: 2px solid $border-color;
    }

    a {
      color: #000;
      font-size: 16px;
      margin-left: 30px;
    }
  }

  .active {
    background-color: #fff;
    border-left: 2px solid #000;
    font-weight: 700;

    &:hover {
      background-color: #fff;
      border-left: 2px solid #000;
    }
  }
}

.edit-form {
  padding-top: 30px;
  padding-bottom: 30px;
  border-left: 1px solid $border-color;

  .edit-avatar {

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &.edit-password {
    display: none;
  }
}

.form-label {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 51px;
}

label {
  font-size: 16px;
  margin: 0px !important;
  text-align: right;
}

.form-field {
  padding-left: 25px;
  padding-right: 25px;
  min-height: 51px;
  height: auto;

  div {
    margin: 0;
  }

  a {
    font-size: 14px;
    font-weight: 700;
    color: $button-color;
    margin: 0;
  }

  input[type=submit] {
    width: 80px !important;
  }

  .inputfile {
    background-color: #fff;
    color: $button-color;
  }

  .field {
    input[type=email], input[type=password], input[type=text] {
      background-color: #fff;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 576px) {
  label {
    text-align: left !important;
  }
}

/* profile page */

.profile-wrap {
  width: 100%;
  margin-top: 50px;
}

.avatar-wrap {

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
  }
}

.user-info-wrap {

  .user-info {
    display: flex;
    align-items: center;

    p, .edit-button {
      margin-left: 10px;
      margin-right: 10px;
    }

    p {
      font-size: 30px;
      margin: 0 !important;
    }

    .edit-button {

      a {
        border: 1px solid $border-color;
        font-weight: 700;
        color: #000;
        padding: 6px;
        border-radius: 3px;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 15px;
      }

      img {
        width: 23px;
        height: 23px;
      }
    }
  }
  .user-count {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .user-post-count, .user-followers, .user-following {
      font-size: 16px;
      margin-right: 30px;
      display: flex;

      a {
        color: #000;
      }
    }

    .count-number {
      font-weight: 700;
      margin-right: 5px;
    }
  }

  .user-decription {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-name {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.post-wrap {
  margin-top: 50px;
  border-top: 1px solid $border-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .post-navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .post-tab {
      margin: 30px;
      display: flex;
      align-items: center;

      img {
        width: 13px;
        height: 13px;
      }

      p {
        font-size: 13px;
        color: #7A7A7A;
        font-weight: 700;
      }

      a, img, p {
        margin: 5px;
      }
    }
  }
}

.no-post-yet {
  width: 100%;

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  p {
    font-size: 22px;
    text-align: center;
  }
}
.user-micropost-wrap {
  margin-bottom: 50px;
}

.user-microposts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 24px;

  .micropost-photo {
    width: 33.33%;

    a {
      width: 100%;
      color: #000;
    }
  }
}

.photo-wrap {
  position: relative;

  .photo {
    opacity: 1;
    display: block;
    width: 100%;
    transition: 0.3s ease;
    backface-visibility: hidden;
    background-color: #000;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .like-comment {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 5px;

    img {
      width: 30px;
      margin: 5px;
      color: #fff;
    }
  }

  &:hover img {
    opacity: 0.5;
  }

  &:hover .like-comment {
    opacity: 1;
  }
}

.user-microposts p {
  color: #7A7A7A;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* micropost new form */

.row-wrap {
  display: flex;
  align-items: center;

  .field {
    justify-content: flex-start;
  }
}

.link-to-remove, .link-to-add {
  border: 1px solid $border-color;
  border-radius: 3px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px !important;

  a {
    color: #000 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.micropost-form {
  padding: 40px;

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .field {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  input[type=submit] {
    width: 70px;
  }

  input[type=file] {
    font-size: 16px;
  }
}

/* micropost edit form */

.preview img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 2px;
}

/* show micropost */

.micropost-show-wrap {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.micropost-user-title {
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  align-items: center;
}

.micropost-user-avatar {
  margin: 20px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  a {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
  }
}

.overlay-btn {
  width: 20px;

  img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.menu-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  background-color: #fff;
  top: 50%;
  width: 300px;
  text-align: center;
  margin-top: 30px;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: 50%;

  hr {
    margin: 0;
  }
}

.menu-overlay a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #000;
  transition: 0.3s;
  padding: 10px;
}

.menu-overlay a:hover, .menu-overlay a:focus {
  color: #f1f1f1;
}

// @media screen and (max-height: 450px) {
//   .overlay a {font-size: 20px}
//   .overlay .closebtn {
//   font-size: 40px;
//   top: 15px;
//   right: 35px;
//   }
// }

.micropost-picture-wrap {

  img {
    width: 100%;
    height: auto;
  }
}

.micropost-description {
  height: 100%;
  position: relative;
  border: 1px solid $border-color;
}

.micropost-like-comment {
  margin: 20px;
  display: flex;

  img {
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
}

.micropost-count-like {
  display: flex;
  margin-left: 30px;
  font-weight: 700;

  .liked-user-name, .liked-count {
    margin-left: 5px;
    margin-right: 5px;
  }

  p {
    font-weight: normal;
  }
}

.micropost-content-container {
  overflow: auto;

  .micropost-content {
    margin: 10px 20px;
  }

  .micropost-comment-wrap {
    margin: 0;

    a {

      &:hover {
        color: #000 !important;
      }
    }
  }
}

.micropost-content {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 30px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  a {
    color: #000 !important;
    font-weight: 700;
    margin-left: 20px;
    font-size: 16px;
  }

  pre {
    font-weight: normal;
    max-width: 100%;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.micropost-bottom {
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid $border-color;

  .micropost-like-comment {
    margin: 10px 20px;
  }
}

.micropost-time {
  margin: 10px 30px;
  font-size: 15px;
  color: $gray-line-color;
}

.owl-demo, .owl-carousel, .item, .item img {
  height: 100%;
  width: 100%;
}

.owl-item {
  display: flex;
  align-items: center;
}

/* following user */

.follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  input[type=submit] {
    width: auto;
    margin: 0;
  }
}

.btn-unfollow {

  input[type=submit] {
    background-color: #fff;
    color: #000;
    border: 1px solid $border-color;
    margin: 0;
  }
}

/* show follow page */

.title-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;

  .follow-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .link-back {
    position: absolute;
    left: 80px;

    img {
      width: 30px;
    }
  }
}

.follow-avatar {

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.follow-username {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;

  a {
    color: #000;
  }
}

.user-follow-wrap {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  input[type=submit] {
    margin-top: 0;
    width: 100%;
  }
}

/* comment form */

.micropost-post-comment {
  border-top: 1px solid $border-color;
}

.comment-field {

  textarea {
    min-height: 100% !important;
    max-height: 100% !important;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 15px;
  }
}

.comment-submit {

  display: flex;
  justify-content: center;
  align-items: center;

  input[type=submit] {
    margin-top: 0;
    color: #3897F0;
    background-color: #fff;
  }
}

.micropost-comment-wrap {
  position: static;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 20px 30px;

  a {
    color: #1F3B97;

    &:hover {
      color: #1F3B97 !important;
    }
  }
  .micropost-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    .micropost-user-avatar {
      margin: 0;

      a {
        color: #000 !important;
        margin: 0 !important;

        &:hover {
          color: #000;
        }
      }
    }

    .comment-body {
      font-size: 15px;
      margin-left: 10px;
    }
  }
}
